
<div>
  <h1>Crear Producto</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" formControlName="name">

      <div *ngIf="form.get('name').invalid && form.get('name').touched">
        <div *ngIf="form.get('name').errors.required">El nombre es requerido</div>
        <div *ngIf="form.get('name').errors.minlength">El nombre debe tener al menos 3 caracteres</div> 


        
</div>
